<div class="container">
    <div class="row">
        <div class="col-12 my-4">
            <alert type="info">
                Currently no real data. For demonstration purposes only.
            </alert>
            <div class="card shadow-sm mt-4">
                <div class="card-header d-flex justify-content-between">
                    <div class="h4 m-0">Analytics Preview</div>
                    <!--<button type="button" class="btn btn-primary btn-sm text-white">View More</button>-->
                </div>
                <div class="card-body p-4">
                    <canvas
                        baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
