:host {
  display: block;

  .navbar {
    height: 56px;
  }

  .text-black {
    color: black;
  }

  .nav-link.active{
    display: inline-flex;
    border-bottom: 2px solid #48dbb4;
  }

  .logo-tbtc {
    padding: 10px 0;
    margin-right: 15px;
  }

}
