<nav class="navbar navbar-expand-lg bg-secondary"
  [ngClass]="themeService.getCurrentTheme() === Theme.TBTC ? 'navbar-light' : 'navbar-dark'">
  <div class="d-flex justify-content-center align-items-center">
    <app-keep-logo [width]="100" [color]="themeService.getCurrentTheme() === Theme.KEEP ? 'white' : 'black'"
      class="navbar-brand logo-keep" routerLink="/keep" routerLinkActive="active"></app-keep-logo>
    <app-tbtc-logo [width]="140" [color]="themeService.getCurrentTheme() === Theme.KEEP ? 'white' : 'black'"
      class="logo-tbtc" routerLink="/tbtc" routerLinkActive="active"></app-tbtc-logo>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
    aria-label="Toggle navigation" (click)="isActive = !isActive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown" [ngClass]="{ show: isActive }">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="themeService.getCurrentTheme() === Theme.KEEP ? 'text-white' : 'text-black'"
          [routerLink]="themeService.getCurrentTheme() === Theme.KEEP ? '/keep/blocks' : '/tbtc/blocks'"
          routerLinkActive="active">Blocks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="themeService.getCurrentTheme() === Theme.KEEP ? 'text-white' : 'text-black'"
          [routerLink]="themeService.getCurrentTheme() === Theme.KEEP ? '/keep/transactions' : '/tbtc/transactions'"
          routerLinkActive="active">Transactions</a>
      </li>
      <li class="nav-item" *ngIf="themeService.getCurrentTheme() === Theme.KEEP">
        <a class="nav-link text-white" [routerLink]="'/keep/grants'" routerLinkActive="active">Grants</a>
      </li>
      <li class="nav-item" *ngIf="themeService.getCurrentTheme() === Theme.KEEP">
        <a class="nav-link text-white" [routerLink]="'/keep/staking'" routerLinkActive="active">Staking</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Txn Hash / Block" aria-label="Search" />
      <button class="btn btn-outline-primary mt-1 mt-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
