<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm mt-4">
        <div class="card-header d-flex justify-content-between flex-wrap">
          <div class="h4 d-flex align-items-center m-0">
            <svg width="28" height="28" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z" />
              <path fill-rule="evenodd"
                d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z" />
              <path fill-rule="evenodd"
                d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z" />
            </svg>
            <span class="ml-2">
              Staking Statistics</span>
          </div>
        </div>
        <div class="card-body p-0">
          <h1 class="d-flex justify-content-center m-4">Coming soon!</h1>
        </div>
      </div>

      <div class="card shadow-sm mt-4">
        <div class="card-header d-flex justify-content-between flex-wrap">
          <div class="h4 d-flex align-items-center m-0">
            <svg width="28" height="28" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span class="ml-2">
              Top Stakers</span>
          </div>
        </div>
        <div class="card-body p-0">
          <h1 class="d-flex justify-content-center m-4">Coming soon!</h1>
        </div>
      </div>

      <div class="card shadow-sm mt-4">
        <div class="card-header d-flex justify-content-between flex-wrap">
          <div class="h4 d-flex align-items-center m-0">
            <svg width="28" height="28" viewBox="0 0 16 16" class="bi bi-layers" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-1.063.567L14.438 10 8 13.433 1.562 10 4.25 8.567 3.187 8z"/>
              <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z"/>
            </svg>
            <span class="ml-2">
              Staking Transactions</span>
          </div>
        </div>
        <div class="card-body p-0">
          <h1 class="d-flex justify-content-center m-4">Coming soon!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
