<div class="container">
  <app-top-staker></app-top-staker>
  <!-- <div class="card shadow-sm mt-4">
        <div class="card-header d-flex justify-content-between flex-wrap">
          <div class="h4 d-flex align-items-center m-0">
            <svg width="28" height="28" viewBox="0 0 16 16" class="bi bi-layers" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-1.063.567L14.438 10 8 13.433 1.562 10 4.25 8.567 3.187 8z"/>
              <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z"/>
            </svg>
            <span class="ml-2">
              Staking Transactions</span>
          </div>
        </div>
        <div class="card-body p-0">
          <h1 class="d-flex justify-content-center m-4">Coming soon!</h1>
        </div>
      </div>-->
</div>
