<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm mt-3">
        <div class="card-header d-flex justify-content-between">
          <div class="h4 m-0">Transfer Transaction Analytics</div>
          <div class="btn-group" btnRadioGroup [(ngModel)]="transferAnalyticsModel">
            <label class="btn btn-primary m-0" tabindex="0" btnRadio="days" (click)="loadChartsData()">Last 15 days</label>
            <label class="btn btn-primary m-0" tabindex="0" btnRadio="months" (click)="loadChartsData()">Last months</label>
          </div>
        </div>
        <ng-container *ngIf="transferAggregation$ | async as transferAggregation; else loadingAnalytics">
          <div class="card-body p-4">
            <canvas baseChart [datasets]="transferAggregation.chartData" [labels]="transferAggregation.chartLabels" [options]="transferAggregation.barChartOptions"
              [legend]="true" chartType="bar" [colors]="transferAggregation.chartColors">
            </canvas>
          </div>
        </ng-container>
        <ng-template #loadingAnalytics>
          <app-loading></app-loading>
        </ng-template>
      </div>
      <div class="card shadow-sm my-3">
        <div class="card-header d-flex justify-content-between flex-wrap">
          <div class="h4 d-flex justify-content-center align-items-center m-0">
            <app-transaction-icon class="mr-1"></app-transaction-icon>
            <span>Transfer Transactions</span>
          </div>
        </div>
        <ng-container *ngIf="transfers$ | async as transfers; else loading">
          <div class="card-body p-0">
            <ul class="list-group">
              <li class="list-group-item border-0 pb-0" *ngFor="let transfer of transfers; let i = index">
                <app-transaction-item [transfer]="transfer"></app-transaction-item>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-12 mb-2 d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-primary btn-sm text-white" (click)="fetchMore()">Display
              more...</button>
          </div>
        </ng-container>
        <ng-template #loading>
          <app-loading></app-loading>
        </ng-template>
      </div>
    </div>
  </div>
</div>
