<div class="card shadow-sm mt-4">
    <div class="card-header d-flex justify-content-between flex-wrap">
        <div class="h4 d-flex justify-content-center align-items-center m-0">
          <app-transaction-icon class="mr-2"></app-transaction-icon>
          <span>Transactions</span>
        </div>
        <div class="btn-group">
          <label class="btn btn-primary m-0" [(ngModel)]="checkModel.keep" btnCheckbox role="button" (click)="load()">KEEP</label>
          <label class="btn btn-primary m-0" [(ngModel)]="checkModel.tbtc" btnCheckbox role="button" (click)="load()">TBTC</label>
        </div>
        <button type="button" class="btn btn-primary btn-sm text-white" routerLink="/transactions">View All Transactions</button>
    </div>
    <div class="card-body p-0">
        <ul class="list-group">
            <li
                class="list-group-item border-0"
                [class.pb-0]="i !== 4"
                *ngFor="let transfer of transfers$ | async | slice: 0:5; let i = index"
            >
                <app-transaction-item [transfer]="transfer"></app-transaction-item>
            </li>
        </ul>
    </div>
</div>
